<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/mystyle.css}"/>
</head>
<body>
    <div class="container">

        <img src="" th:src="@{/images/abc.jpeg}" alt=""/>

<h1>Adding css ,javascript and image in thymeleaf</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    
    Est nostrum aliquam vitae culpa, ipsa asperiores iure distinctio
     quidem voluptate maiores perferendis voluptatem nobis pariatur
      modi id facilis odio quaerat error odit! Natus rerum commodi 
      vel voluptatum quos quaerat aut? Quae aut inventore mollitia
       modi ut dolore alias magnam voluptate iusto.</p>


    </div>
    <script src="" th:src="@{js/myjs.js}"></script>
</body>
</html>