<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>
<body>
    <h1>This are the services provided by learnCodeWith Durgesh</h1>
    <!--Going to bring footer here-->

  <!--  <footer id="hostTag" th:replace="footer::footer1(${title},'this is title','this is subtitle')"></footer>-->
  <footer id="hostTag" th:replace="footer::footer1(${title},${subtitle})"></footer>
</body>
</html>