<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
       <context:annotation-config />
       <bean id="adr1" class="com.springwithautowiringwithannotationbyname.Address" >
               <property name="city" value="noida"></property>
               <property name="state" value="up"></property>
               <property name="country" value="india"></property>
               </bean>
               
             <bean id="adr2" class="com.springwithautowiringwithannotationbyname.Address"  >
               <property name="city" value="Hardoi"></property>
               <property name="state" value="up"></property>
               <property name="country" value="Dubai"></property>
               </bean>
               
             
               
              
               <bean id="emp" class="com.springwithautowiringwithannotationbyname.Employee" >
               <!-- yaha per bytype se class ka jo type hain use cal kr lega  -->
               <property name="name" value="ram"></property>
               <property name="age" value="123"></property>
            
               </bean>
</beans>
              


