<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>ServletCrudOperation</display-name>
	
	<servlet>
		<servlet-name>SaveServlet</servlet-name>
		<display-name>SaveServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.SaveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<display-name>Welcome</display-name>
		<description></description>
		<servlet-class>com.servlets.Welcome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Edit</servlet-name>
		<display-name>Edit</display-name>
		<description></description>
		<servlet-class>com.servlets.Edit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Edit2</servlet-name>
		<display-name>Edit2</display-name>
		<description></description>
		<servlet-class>com.servlets.Edit2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>View</servlet-name>
		<display-name>View</display-name>
		<description></description>
		<servlet-class>com.servlets.View</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<display-name>Delete</display-name>
		<description></description>
		<servlet-class>com.servlets.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveServlet</servlet-name>
		<url-pattern>/SaveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/Welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/Edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Edit2</servlet-name>
		<url-pattern>/Edit2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>View</servlet-name>
		<url-pattern>/View</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
