<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>FirstServlet</display-name>
	<servlet>
		<servlet-name>MyFirstServlet</servlet-name>
		<display-name>MyFirstServlet</display-name>
		<description></description>
		<servlet-class>com.MyFirstServlet.MyFirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Generic</servlet-name>
		<display-name>Generic</display-name>
		<description></description>
		<servlet-class>com.MyFirstServlet.Generic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<display-name>DemoServlet</display-name>
		<description></description>
		<servlet-class>com.MyFirstServlet.DemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Hay</servlet-name>
		<display-name>Hay</display-name>
		<description></description>
		<servlet-class>com.MyFirstServlet.Hay</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFirstServlet</servlet-name>
		<url-pattern>/MyFirstServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Generic</servlet-name>
		<url-pattern>/Generic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/DemoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hay</servlet-name>
		<url-pattern>/Hay</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
